body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/public/images/background.jpg") no-repeat center center;
    background-size: cover;
}

.btn.dangerous-button {
    background-color: #B52E94;
}

.btn.dangerous-button:hover {
    background-color: #701960;
}